.navigation__list {
  display: flex;
  max-width: 950px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 33px;
  flex-wrap: wrap;

  @include vp-1023 {
    gap: 24px;
    flex-direction: row;
  }

  @include vp-767 {
    flex-direction: column;
    align-items: center;
    gap: 8px;
    overflow: scroll;
    flex-wrap: nowrap;
  }
}

.navigation__item {
  padding: 42px 0;

  @include vp-1023 {
    padding: 27px 0 55px;
  }

  @include vp-767 {
    padding: 10px 0 8px;
  }
}

.navigation__link {
  position: relative;
  padding: 42px 0;

  @include fonts(16px, 20px, 500, $color-alice-blue);

  &::before {
    @include pseudo(0, 1px);

    bottom: 40px;
    left: 50%;
    background-color: $color-alice-blue;
    transition: width, left, $trans-default;
  }

  @include hover {
    &::before {
      width: 100%;
      left: 0;
    }
  }

  @include vp-1023 {
    padding: 27px 0;
    font-size: 14px;
    line-height: 17px;

    &::before {
      bottom: 20px;
    }
  }

  @include vp-767 {
    @include fonts(18px, 22px, 500, $color-tangaroa);

    padding: 10px 0 8px;

    &::before {
      bottom: 0;
      background-color: $color-tangaroa;
    }

    @include hover {
      &::before {
        width: 100%;
        left: 0;
      }
    }
  }
}

.navigation--footer {
  .navigation__list {
    max-width: 890px;
    overflow: hidden;
  }

  @include vp-1023 {
    max-width: 500px;

    .navigation__link {
      padding: 46px 0 50px;
      font-size: 12px;
      line-height: 15px;
    }

    .navigation__item {
      padding: 46px 0 50px;
    }
  }

  @include vp-767 {
    margin-bottom: 21px;

    .navigation__list {
      align-items: flex-start;
    }

    .navigation__link {
      padding: 0;
      font-size: 12px;
      line-height: 15px;
      color: $color-alice-blue;

      &::before {
        background-color: $color-alice-blue;
      }
    }

    .navigation__item {
      padding: 0;
    }
  }
}
